extends layout

block content
  div#terminal
    table


  div#prompt
    textarea#typebox(autofocus="true", placeholder="> ", rows="1")

  div#footer
    | Freespeak 0.0.0
    |  | 
    a(href="") Repo
    |  | 
    a(href="") Tarball
    |  | 
    | Donate Bitcoin: 1BvBMSEYstWetqTFn5Au4m4GFg7xZZZZZZ
