extends layout

block content
  div#terminal
    table


  div#prompt
    textarea#typebox(autofocus="true", placeholder="> ", rows="1")

  div#footer
    | Freespeak 0.0.1
    |  | 
    a(href="https://github.com/jonasacres/freespeak") Repo
    |  | 
    a(href="/freespeak.tgz") Tarball
    |  | 
    | Donate Bitcoin: 112FioiVChxs28ahM25s8imZ5397Jbanf
