extends layout

block content
  div#terminal
    table
      tr.system
        td.timestamp 12:34:56
        td.nick system
        td.message
          ul
            li Connecting anonymously to server...

      tr.system
        td.timestamp 12:34:56
        td.nick system
        td.message
          ul
            li You are anonymous user 4y1dx.
            li Give this URL to the person you wish to chat securely with:
            li.chatlink https://example.com/talk/4y1dx
            li &nbsp;
            li Server MOTD:
            li.motd Use Tor or a proxy server for privacy.
            li &nbsp;
            li Waiting for peer...

      tr.system
        td.timestamp 12:34:56
        td.nick system
        td.message
          ul
            li Establishing secure channel with 1dz3y...

      tr.system
        td.timestamp 12:34:56
        td.nick system
        td.message
          ul
            li You are chatting securely with 1dz3y.

      tr.you
        td.timestamp 12:34:56
        td.nick you
        td.message
          ul
            li Hey there

      tr.them
        td.timestamp 12:34:56
        td.nick 1dz3y
        td.message
          ul
            li sup

      tr.you
        td.timestamp 12:34:56
        td.nick.you you
        td.message
          ul
            li nm

      tr.them
        td.timestamp 12:34:56
        td.nick 1dz3y
        td.message
          ul
            li cool

  div#prompt
    textarea#typebox(autofocus="true", placeholder="> ", rows="1")

  div#footer
    | Freespeak 0.0.0
    |  | 
    a(href="") Repo
    |  | 
    a(href="") Tarball
    |  | 
    | Donate Bitcoin: 1BvBMSEYstWetqTFn5Au4m4GFg7xJaNVN2
