html,body { height: 100%; margin: 0px; padding: 0px; }

body {
  font: 13px "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
  background-color:#000;
  color:#40d600;
}

#terminal {
  background-color:#0d110a;
  position:absolute;
  padding:0px;
  height:100%;
  top:0px;
  left:100px;
  width:730px;
}

#prompt {
  position:absolute;
  bottom:15px;
  width:100%;

  padding:0;

  background-color:#222;
  color:#eee;
}

p.system {
  color:#f00;
}

/*
 * terminal (where the chat goes)
 */

#terminal table {
  width:100%;
  border-collapse:collapse;
  margin-top:7px;
}

#terminal table tr {
  vertical-align: top;
  margin: 0;
  padding: 0;
}

#terminal table td.timestamp {
  font-weight: bold;
  color: #777;
  width: 80px;

  padding-left:7px;
}

#terminal table td.nick {
  font-weight: bold;
  width: 80px;
}

#terminal table tr.system td.nick {
  color: #aaa;
}

#terminal table tr.system {
  color: #aaa;
}

#terminal table tr.you {
  background-color: #222;
}

#terminal td ul {
  padding: 0 0 0 10px;
  margin: 0;
}

#terminal td ul li {
  list-style: none;
}

#terminal td ul li.chatlink {
  color: #fff;
  font-weight: bold;
}

#terminal td ul li.motd {
  color: #40d600;
}

/*
 * sidebar
 * (where chat partners are listed)
 */

#sidebar {
  position:absolute;
  top:0px;
  height:100%;
  width: 100px;
}

#sidebar ul {
  padding: 0 0 0 0;
  margin: 0;
}

#sidebar ul li {
  background-color: #000;
  list-style: none;
  height: 20px;
  color: #aaa;

  padding: 7px 0 0 10px;

  cursor: pointer;
}

#sidebar ul li.active {
  background-color: #0d110a;
  color: #fff;
  font-weight: bold;
}

#sidebar ul li.unread {
  color: #f00;
}

#sidebar ul li.settings {
  color: #40d600;
}

/*
 * typebox
 * (where new chat is typed in)
 */

#typebox {
  font: 13px "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
  color: #fff;
  height: 12px;

  white-space: nowrap;
  overflow: auto;

  background-color: #222;
  padding: 5px;
  margin:0;
  border:0;
  width: 95%;

  resize: none;
}

#typebox:focus {
  outline-width: 0;
}

/*
 * footer
 * (version, etc.)
 */

#footer {
  position:absolute;
  background-color:#000;
  padding-top: 3px;
  bottom:0px;

  width:100%;
  height:15px;

  margin:0;
  text-align: center;
  vertical-align: center;

  font-size:10px;
  color:#aaa;
}

#footer a {
  color:#fff;
}
